@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display:ital@1&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body, html, main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    border: 20px;
}

header{
    color: white;

}

.bike{
    display: block;
    margin: 0px auto;
    width: 1400px;
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 4%;
    margin-top: o;
}

.company{
    color: rgb(75, 164, 224);
    font-size: x-large;
    text-align: left;
    font-size: 200%;
    margin-left: 10%;
    font-weight: bold;
    margin: 6px;
    font-family: 'Roboto', sans-serif;
}

.slogan{
    color: black;
    margin-left: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 120%;
    opacity: 0.5;
}

ul{
    list-style-type: none;
    background-color: white; 
    margin-right: 11%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}

li{
    float: right;
}

li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    opacity: 0.5;
}

li a:hover{
    background-color: white;
}


.subtitle{
    text-align: center;
    letter-spacing: 8px;
    word-spacing: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    color: rgb(75, 164, 224);
    font-weight: bold;
}

.maintitle{
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 600%;
    color: white;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: 5%;
    padding: 0;
    float: right;
    text-align: center;
}

.info-img{
    width: 425px;
    padding: 30px;
    margin-left: 7%;
}

.info-title{
    color: black;
    font-size: 120%;
    font-weight: bold;
    margin: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    margin-left: 15%;
}

.info-about{
    color: black;
    font-size: 90%;
    line-height: 25px;
    padding:  10px;
    width: 15em;
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
    margin-left: 33%;
    margin-top: 5%;
}

.more-about{
    background-color: rgb(75, 164, 224);
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10%;
}

.more{
    color: white;
    text-decoration: none;
    margin-top: 2%;
}

.green{
    display: block;
    margin: 0px auto;
    width: 1400px;
    margin-top: 4%;
}

.second-title{
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: 300%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 1000%;
    color: white;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.the-title{
    color: black;
    font-size: 120%;
    font-weight: bold;
    margin: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    margin-top: 2%;
}

.third-title{
    text-align: center;
    word-spacing: 0;
    letter-spacing: 1px;
    position: absolute;
    top: 285%;
    left: 44%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    color: white;
    width: 100%;
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
}

.our-proposal{
    color: black;
    font-size: 90%;
    line-height: 18px;
    padding:  10px;
    width: 50%;
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
    text-align: center;
    margin-top: 1%;
    margin-left: 25%;
}

.end{
    color: rgb(75, 164, 224);
    font-size: x-large;
    text-align: left;
    font-size: 200%;
    margin-left: 10%;
    font-weight: bold;
    margin: 6px;
    font-family: 'Roboto', sans-serif;
}

